
* {
	top: 0;
	margin: 0;
	padding: 0;
	left: 0;
	border: 0;
	outline: 0;
}

html, body {
	height: 100%;
	background-color: #ffffff;
	font-size: 26px;
	font-family: monospace;
	color: #202020;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.header {
	padding: 15px;
	text-align: center;
}

.header div {
	display: inline-block;
	vertical-align: middle;
}

.header-item {
	padding: 5px 25px;
}

.algorithm-selector {
	font-size: 19px;
	width: 170px;
	border: 1px solid #868686;
	padding: 2px 4px;
}

.seperator {
	margin: 0px 25px;
	height: 50px;
	width: 2px;
	background-color: #202020;
}

.slider input {
	margin: 0 10px;
}

.button {
	font-size: 28px;
	font-weight: 800;
	color: black;
}

.button:hover {
	color: #2b6a9e;
	cursor: pointer;
	transform: translate(0, -1px);
}

.divider {
	margin: 0 1%;
	width: 98%;
	height: 2px;
	background-color: #202020;
}

.content-canvas {
	margin: 0 1%;
	background-color: #fff;
}
